<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pixeon Healthcare Test</title>

	<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	
</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://www.linkedin.com/in/luis-claudio-tavares/" target="_blank">Tavares</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1> Pixeon Healthcare Test</h1>
        <h2>
            <span th:text="${page}"></span>
        </h2>
    </div>
   	<div id="menu" class="center">
		<b class="center">
  		 <a href="/" >Home</a> | <a href="/healthcareInstitution">Healthcare</a> | <a href="javascript:history.back()">Back Page</a>
		</b>
	</div>
 	<br>
	<div id="command" class="center">
		
	
		<div id="list" align="center">

		        <div id="editExam" align="center" >
		        <br>
			        
			        <form action="#" th:action="examSaveEdit" th:object="${exam}" method="post">

 			         <input type="number" th:field="*{idHealthcareInstitution}" readonly hidden="true" />
			        <input type="number" th:field="*{idExam}" readonly hidden="true" />			     
			        
			            <table>
			            	            
			                <tr>
			                    <td>Patient Name: </td>
			                    <td><input type="text" th:field="*{patientName}"  required /></td>
			                </tr>
			                <tr>
			                    <td>Patient Age: </td>
			                    <td><input type="number" th:field="*{patientAge}" required/></td>
			                </tr>
			                <tr>
			                    <td>Patient Gender: </td>
			                    <td><input type="text" th:field="*{patientGender}" required/></td>
			                </tr>
			                <tr>
			                    <td>Physician Name: </td>
			                    <td><input type="text" th:field="*{physicianName}" required/></td>
			                </tr>
			                 <tr>
			                    <td>Physician CRM: </td>
			                    <td><input type="text" th:field="*{physicianCRM}" required/></td>
			                </tr>
			                <tr>
			                    <td>Procedure Name: </td>
			                    <td><input type="text" th:field="*{procedureName}" required/></td>
			                </tr>
			                
			                <tr>
			                    <td><input type="submit" value="Save"></td>
			                </tr>
			            </table> 
			            
			            
			        </form> 
			        
			    </div>
		    <br>
		    
		</div>   
	</div>
 
</main>

</body>
</html>